<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>


</head>
<div class="wrapper-order">


    <div class="prod1">

    <header class="header-order">
        <hgroup>
            <h1 class="h1-order">Love POTION-DR. FISCHER</h1>
            <h4 class="h4-order">THE MOST ADDICTING POTION EVER CREATED</h4>
        </hgroup>
    </header>

    <figure class="figure-order">
       <!-- <img src="http://media02.hongkiat.com/html5-single-product-page/iphone4s-3d.png"> -->
        <img class="image-order" src="../../img/love_Potion.jpg">
    </figure>

    <section class="section-order">

        <p>The Fastest Love Potion ever created is now available. The new formule was design for multiply re-use. Was created intentially for timid persons by a previous Hagwarts Student- Dr. Fischer</p>

        <details>
            <summary>Product Features</summary>
            <ul>
                <li>Instante loving</li>
                <li>24 hours duration garenteed</li>
                <li>Works both on man and Woman</li>
                <li>Comes in multiply falvours</li>
                <li>Can be Avialble immidiately</li>
                <li>Dr. Fischer "Ze badouk"</li>
            </ul>
        </details>

        <button class="button-order">Buy Now</button>

    </section>
    </div>

</div>

</body>
</html>